<div>
  <ul>
    <li>
      <a routerLink="/ingresar" routerLinkActive="active">Ingresar</a>
    </li>
    <li>
      <a routerLink="/registrarse" routerLinkActive="active">Registrarse</a>
    </li>
    <li>
      <a routerLink="/dashboard/almuerzo-empresarial" routerLinkActive="active">almuerzo-empresarial</a>
    </li>
    <li>
      <a routerLink="/dashboard/detalles-almuerzo-empresarial" routerLinkActive="active" >detalles-almuerzo-empresarial</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
